.results {
  overflow-y: scroll;
  flex: 5;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    cursor: pointer;
    min-width: 300px;
    max-width: 600px;
    min-height: 80px;
    width: 40%;
    border: 1px solid black;
    margin: 10px 0;
    display: flex;
    align-items: center;
    // padding: 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    .left {
      flex: 1;
      .user {
        color: #000;
        font-size: 3rem;
      }
    }

    .center {
      text-align: left;
      padding: 0 10px;
      flex: 4;
    }

    .right {
      flex: 1;
      .call {
        font-size: 3rem;
        color: green;
      }
      .rating {
        margin: 30px 10px;
      }
    }
  }
  .selected {
    color: #fff;
    background: lightblue;
    border: none;
  }
}
