.cardWrap {
  cursor: pointer;
  min-width: 250px;
  // width: 352px;
  min-height: 80px;
  border: 1px solid black;
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  border-radius: 3px;

  .left {
    flex: 1;
    .user {
      color: #000;
      font-size: 3rem;
    }
    .selectedUser {
      color: #fff;
    }
  }

  .center {
    text-align: left;
    padding: 0 10px;
    flex: 4;
  }

  .right {
    flex: 1;
    .call {
      font-size: 3rem;
      color: #fff;
    }
    .rating {
      margin: 30px 10px;
    }
  }
}

.selected {
  color: #fff;
  background: #666ad1;
  border: none;
}
